@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: Exensa Grotesk;
	src: url('ExensaGrotesk-Regular.otf');
}
@font-face {
	font-family: Exensa Grotesk;
	font-weight: bold;
	src: url('ExensaGrotesk-Bold.otf');
}
@font-face {
	font-family: TT Norms Pro;
	src: url('TT Norms Pro Regular.otf');
}
:root{
	--sizing-factor: 1;
	--background-color: #DFC39F;
	--graphics-color: #AF2319;
	--alt-color: #203949;
	--base-color: #34302C;
}
body{
	font-family: arial, sans-serif;
	background-color: var(--background-color);
	margin: 0;
	display: grid;
	overflow-y: scroll;
	overflow-x: hidden;
}
img{
	max-height: 100%;
	max-width: 100%;
}
button{
	cursor: pointer;
}

@media all and (max-width: 320px){
	body{
		width: 16.67vw;
		height: 16.67vh;
	}
	:root{
		--sizing-factor: 0.1667;
	}
}
@media all and (min-width: 321px){
	body{
		width: 25vw;
		height: 25vh;
	}
	:root{
		--sizing-factor: 0.25;
	}
}
@media all and (min-width: 480px){
	body{
		width: 40vw;
		height: 40vh;
	}
	:root{
		--sizing-factor: 0.4;
	}
}
@media all and (min-width: 768px){
	body{
		width: 53.33vw;
		height: 53.33vh;
	}
	:root{
		--sizing-factor: 0.5333;
	}
}
@media all and (min-width: 1024px){
	body{
		width: 62.5vw;
		height: 62.5vh;
	}
	:root{
		--sizing-factor: 0.625;
	}
}
@media all and (min-width: 1440px){
	body{
		width: 75vw;
		height: 75vh;
	}
	:root{
		--sizing-factor: 0.75;
	}
}
@media all and (min-width: 1600px){
	body{
		width: 83.33vw;
		height: 83.33vh;
	}
	:root{
		--sizing-factor: 0.8333;
	}
}
@media all and (min-width: 1800px){
	body{
		width: 100vw;
		height: 100vh;
	}
	:root{
		--sizing-factor: 1;
	}
}
/* page background elements ------------------------------------------------------------------- */

/* general */

.page-menu-graphic{
	position: absolute;
	width: calc(105px * var(--sizing-factor));
	height: calc(703px * var(--sizing-factor));
	left: 16vw;
	top: 26vh;
}
.page-node{
	position: absolute;
	width: calc(width * var(--sizing-factor));
	height: calc(72px * var(--sizing-factor));
	left: 23vw;
	top: 23vh;
}
#central-container{
	position: absolute;
	width: calc(1475px * var(--sizing-factor));
	left: 25vw;
	top: 34vh;
}
#alt-central-container{
	position: absolute;
	width: calc(1277px * var(--sizing-factor));
	height: calc(374px * var(--sizing-factor));
	left: 25vw;
	top: 34vh;

	display: flex;
	justify-content: space-between;
}

/* slideshow code */
.slideshow-container{
	position: relative;
	max-width: calc(900px * var(--sizing-factor));
	max-height: calc(600px * var(--sizing-factor));
	margin: 0 auto;
	margin-bottom: calc(60px * var(--sizing-factor));
}
.slideshow-caption{
	width: fit-content;
	margin-top: calc(-20px * var(--sizing-factor));
	margin-bottom: calc(60px * var(--sizing-factor));
	margin-left: auto;
	margin-right: auto;

	padding: calc(15px * var(--sizing-factor)) calc(25px * var(--sizing-factor));
	text-align: center;
	font-family: 'TT Norms Pro';
	font-style: normal;
	font-weight: calc(400 * var(--sizing-factor));
	font-size: calc(20px * var(--sizing-factor));
	line-height: calc(24px * var(--sizing-factor));
	letter-spacing: calc(0.08em * var(--sizing-factor));
	color: #FFFFFF;
	vertical-align: middle;

	background: var(--base-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: calc(10px * var(--sizing-factor));
}
  
  /* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: calc(-22px * var(--sizing-factor));
	padding: calc(16px * var(--sizing-factor));
	color: white;
	background-color: var(--base-color);
	font-weight: bold;
	font-size: calc(18px * var(--sizing-factor));
	transition: 0.6s ease;
	border-radius: 0 calc(3px * var(--sizing-factor)) calc(3px * var(--sizing-factor)) 0;
	user-select: none;
}
  
  /* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: calc(3px * var(--sizing-factor)) 0 0 calc(3px * var(--sizing-factor));
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
  
/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}
  
@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

/* homepage */
.homepage-background{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 43vw;
	top: 22vh;
}

/* about me */
.about_me-background{
	position: absolute;
	width: calc(936px * var(--sizing-factor));
	height: calc(507px * var(--sizing-factor));
	left: 44vw;
	top: 27vh;
}

/* artworks */
.artworks-background{
	position: fixed;
	width: calc(1380px * var(--sizing-factor));
	height: calc(186px * var(--sizing-factor));
	left: 28vw;
	top: 60vh;
}

/* projects */
.projects-background{
	position: fixed;
	width: calc(1321px * var(--sizing-factor));
	height: calc(186px * var(--sizing-factor));
	left: 28vw;
	top: 60vh;
}

/* papers */
.papers-background{
	position: fixed;
	width: calc(1043.25px * var(--sizing-factor));
	height: calc(186px * var(--sizing-factor));
	left: 28vw;
	top: 60vh;
}

/* logo elements ------------------------------------------------------------------- */

#logo-container{
	position: absolute;
	left: 3vw;
	top: 3vh;
	width: calc(240px * var(--sizing-factor));
	height: calc(240px * var(--sizing-factor));
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.logo{
	width: calc(143.75px * var(--sizing-factor));
	height: calc(157.55px * var(--sizing-factor));
}

.logo-bkgd{
	position: absolute;
	width: calc(240px * var(--sizing-factor));
	height: calc(240px * var(--sizing-factor));
	opacity: 0%;
	transition: 0.6s;
}

#logo-container:hover > .logo-bkgd{
	opacity: 100%;
}

.logo-graphics{
	position: absolute;
	width: calc(248px * var(--sizing-factor));
	height: calc(249px * var(--sizing-factor));
	left: 4%;
	top: 4%;
}


/* top menu elements ------------------------------------------------------------------- */

.top-menu-graphics{
	position: absolute;
	width: calc(716px * var(--sizing-factor));
	height: calc(62.28px * var(--sizing-factor));
	right: 0vw;
	top: calc(116px * var(--sizing-factor));
}

.top-menu-bkgd{
	position: absolute;
	width: calc(300px * var(--sizing-factor));
	height: calc(150px * var(--sizing-factor));
	right: 2vw;
	top: 3vh;
	display: flex;
	align-items: center;
	justify-content: space-around;

	background: var(--graphics-color);
	border-radius: calc(30px * var(--sizing-factor));
}

#github-icon-container{
	width: calc(102px * var(--sizing-factor));
	height: calc(102px * var(--sizing-factor));
	cursor: pointer;
}
.github-icon1, .github-icon2{
	position: absolute;
	width: calc(102px * var(--sizing-factor));
	height: calc(102px * var(--sizing-factor));
	transition: 0.3s;
}
#github-icon-container:hover > .github-icon1{
	opacity: 0%;
}
#github-icon-container:hover > .github-icon2{
	opacity: 100%;
}
#linkedin-icon-container{
	width: calc(102px * var(--sizing-factor));
	height: calc(102px * var(--sizing-factor));
	cursor: pointer;
}
.linkedin-icon1, .linkedin-icon2{
	position: absolute;
	width: calc(102px * var(--sizing-factor));
	height: calc(102px * var(--sizing-factor));
	transition: 0.3s;
}
#linkedin-icon-container:hover > .linkedin-icon1{
	opacity: 0%;
}
#linkedin-icon-container:hover > .linkedin-icon2{
	opacity: 100%;
}


/* left menu elements ------------------------------------------------------------------- */

/* general elements */
#left-menu-container{
	position: absolute;
	width: calc(215px * var(--sizing-factor));
	left: 3vw;
	top: 30vh;
}

.portfolio-link, .about_me-link{

	font-family: 'Exensa Grotesk';
	font-style: normal;
	font-weight: bold;
	font-size: calc(54px * var(--sizing-factor));
	line-height: calc(65px * var(--sizing-factor));
	/* identical to box height */

	letter-spacing: calc(00.08em * var(--sizing-factor));

	color: var(--alt-color);
	cursor: pointer;
}

#portfolio-link-container{
	position: relative;
	margin-bottom: calc(25px * var(--sizing-factor));
}
#portfolio-link-container:hover .portfolio-link-line{
	left: calc(100px * var(--sizing-factor));
	opacity: 100%;
}
#portfolio-link-container:hover .portfolio-menu-container{
	display: block;
}

.portfolio-link-line{
	position: absolute;
	width: calc(105px * var(--sizing-factor));
	top: calc(65px * var(--sizing-factor));
	left: calc(-100px * var(--sizing-factor));
	opacity: 0%;
	transition: 0.8s;
}
.portfolio-link-line-static{
	position: absolute;
	width: calc(105px * var(--sizing-factor));
	top: calc(65px * var(--sizing-factor));
	left: calc(100px * var(--sizing-factor));
	padding: 0;
}

#about_me-link-container{
	position: relative;
	margin-bottom: calc(25px * var(--sizing-factor));
}
#about_me-link-container:hover > .about_me-link-line{
	left: calc(30px * var(--sizing-factor));
	opacity: 100%;
}

.about_me-link-line{
	position: absolute;
	width: calc(105px * var(--sizing-factor));
	top: calc(65px * var(--sizing-factor));
	left: calc(-100px * var(--sizing-factor));
	opacity: 0%;
	transition: 0.8s;
	padding: 0;
}
.about_me-link-line-static{
	position: absolute;
	width: calc(105px * var(--sizing-factor));
	top: calc(65px * var(--sizing-factor));
	left: calc(30px * var(--sizing-factor));
}

.portfolio-menu-container{
	position: absolute;
	width: calc(200px * var(--sizing-factor));
	height: calc(225px * var(--sizing-factor));
	top: calc(60px * var(--sizing-factor));
	display: none;
}
.portfolio-hover-menu{
	position: absolute;
	width: calc(200px * var(--sizing-factor));
	height: calc(200px * var(--sizing-factor));
	padding: calc(15px * var(--sizing-factor));
	align-content: center;

	background: var(--base-color);
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: calc(30px * var(--sizing-factor));
	opacity: 0%;
	animation-name: portfolio-menu-anim;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
@keyframes portfolio-menu-anim{
	100%{
		transform: translateY(calc(20px * var(--sizing-factor)));
		opacity: 100%;
		z-index: 1;
	}
}

.portfolio-menu-text{
	font-family: 'Exensa Grotesk';
	font-style: normal;
	font-size: calc(40px * var(--sizing-factor));
	line-height: calc(45px * var(--sizing-factor));
	text-align: center;
	/* identical to box height */

	letter-spacing: calc(00.08em * var(--sizing-factor));
	margin-top: calc(10px * var(--sizing-factor));
	margin-bottom: calc(10px * var(--sizing-factor));

	color: #FFFFFF;
	cursor: pointer;
	transition: 0.3s;
}
.portfolio-menu-text:hover{
	color: var(--graphics-color);
	transform: scale(1.01);
}


/* central menu elements ------------------------------------------------------------------- */

/* homepage */
.homepage-description-title{
	position: absolute;
	font-family: 'Exensa Grotesk';
	font-style: normal;
	font-weight: bold;
	font-size: calc(48px * var(--sizing-factor));
	line-height: calc(58px * var(--sizing-factor));
	/* identical to box height */

	letter-spacing: calc(00.05em * var(--sizing-factor));

	color: var(--base-color);
	left: 30vw;
	top: 28vh;
}
.homepage-description-main{
	position: absolute;
	font-family: 'Exensa Grotesk';
	font-style: normal;
	font-size: calc(36px * var(--sizing-factor));
	line-height: calc(43px * var(--sizing-factor));
	/* identical to box height */

	letter-spacing: calc(00.05em * var(--sizing-factor));

	color: var(--base-color);
	left: 30vw;
	top: 34vh;
}
.homepage-menu-separator{
	position: absolute;
	width: calc(917px * var(--sizing-factor));
	left: 29vw;
	top: 46vh;
}

.home-menu-container{
	position: absolute;
	width: calc(745px * var(--sizing-factor));
	height: calc(200px * var(--sizing-factor));
	left: 33vw;
	top: 47vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.home-nav-container{
	position: absolute;
	width: calc(835px * var(--sizing-factor));
	height: calc(60px * var(--sizing-factor));
	left: 31vw;
	top: 59vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.home-nav-projects{
	font-family: 'Exensa Grotesk';
	font-style: normal;
	font-weight: bold;
	font-size: calc(48px * var(--sizing-factor));
	line-height: calc(58px * var(--sizing-factor));
	/* identical to box height */

	letter-spacing: calc(00.1em * var(--sizing-factor));

	color: var(--base-color);
	cursor: pointer;
}

.home-menu-projects{
	width: calc(94px * var(--sizing-factor));
	height: calc(106px * var(--sizing-factor));
	top: calc(10px * var(--sizing-factor));
	transition: 1s;
	cursor: pointer;
}
.home-menu-projects:hover{
	transform: translateY(calc(-10px * var(--sizing-factor)));
}

.home-nav-artworks{
	font-family: 'Exensa Grotesk';
	font-style: normal;
	font-weight: bold;
	font-size: calc(48px * var(--sizing-factor));
	line-height: calc(58px * var(--sizing-factor));
	/* identical to box height */

	letter-spacing: calc(00.1em * var(--sizing-factor));

	color: var(--base-color);
	cursor: pointer;
}

.home-menu-artworks{
	width: calc(94px * var(--sizing-factor));
	height: calc(106px * var(--sizing-factor));
	transition: 1s;
	cursor: pointer;
	transform: translateY(calc(-8px * var(--sizing-factor)));
}

.home-menu-artworks:hover{
	transform: translateY(calc(-18px * var(--sizing-factor)));
}

.home-nav-papers{
	font-family: 'Exensa Grotesk';
	font-style: normal;
	font-weight: bold;
	font-size: calc(48px * var(--sizing-factor));
	line-height: calc(58px * var(--sizing-factor));
	/* identical to box height */

	letter-spacing: calc(00.1em * var(--sizing-factor));

	color: var(--base-color);
	cursor: pointer;
}

.home-menu-papers{
	width: calc(54px * var(--sizing-factor));
	height: calc(74px * var(--sizing-factor));
	top: calc(10px * var(--sizing-factor));
	transition: 1s;
	cursor: pointer;
}
.home-menu-papers:hover{
	transform: translateY(calc(-10px * var(--sizing-factor)));
}

/* about me */
#about-box{
	width: calc(880px * var(--sizing-factor));
	height: calc(270px * var(--sizing-factor));
	margin-left: calc(40px * var(--sizing-factor));

	padding: calc(40px * var(--sizing-factor));
	background: var(--base-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 	calc(30px * var(--sizing-factor));
	justify-content: right;
	
	font-family: 'TT Norms Pro';
	font-style: normal;
	font-weight: calc(400 * var(--sizing-factor));
	font-size: calc(20px * var(--sizing-factor));
	line-height: calc(24px * var(--sizing-factor));
	letter-spacing: calc(0.08em * var(--sizing-factor));

	color: #FFFFFF;
}
#profile-pic-container{
	width: calc(297px * var(--sizing-factor));
	height: calc(297px * var(--sizing-factor));	
}
#profile-pic-container:hover .profile-pic-graphic{
	transform: rotate(40deg);
}
.profile-pic{
	position: absolute;
	width: calc(250px * var(--sizing-factor));
	height: calc(250px * var(--sizing-factor));
	left: calc(20px * var(--sizing-factor));
	top: calc(25px * var(--sizing-factor));
}
.profile-pic-graphic{
	position: absolute;
	width: calc(297px * var(--sizing-factor));
	height: calc(297px * var(--sizing-factor));
	transition: 0.4s;
}

/* papers */
.paper-button-desc{
	
	font-family: 'TT Norms Pro';
	font-style: normal;
	font-weight: calc(600 * var(--sizing-factor));
	font-size: calc(16px * var(--sizing-factor));
	line-height: calc(30px * var(--sizing-factor));
	letter-spacing: calc(0.02em * var(--sizing-factor));
	opacity: 0%;
	color: #FFFFFF;
	transition: 0.3s;
}
.paper-button{
	width: 75%;
	height: calc(64px * var(--sizing-factor));

	font-family: 'Exensa Grotesk';
	font-style: normal;
	font-weight: calc(700 * var(--sizing-factor));
	font-size: calc(22px * var(--sizing-factor));
	line-height: calc(26px * var(--sizing-factor));
	letter-spacing: calc(0.05em * var(--sizing-factor));
	background: var(--background-color);
	border: calc(4px * var(--sizing-factor)) solid var(--graphics-color);
	color: var(--base-color);
	border-radius: calc(15px * var(--sizing-factor));
	box-shadow: 0px calc(4px * var(--sizing-factor)) calc(4px * var(--sizing-factor)) rgba(0, 0, 0, 0.25);

	padding-top: calc(15px * var(--sizing-factor));
	padding-left: calc(20px * var(--sizing-factor));
	text-align: left;
	margin-bottom: calc(20px * var(--sizing-factor));
	
	transition: 0.3s;
	cursor: pointer;
}

.paper-button:hover{
	background: var(--graphics-color);
	color: #FFFFFF;
	box-shadow: calc(4px * var(--sizing-factor)) calc(4px * var(--sizing-factor)) calc(4px * var(--sizing-factor)) rgba(0, 0, 0, 0.25);
}
.paper-button:hover .paper-button-desc{
	opacity: 100%;
}


/* artworks */
.artwork-container{
	position: absolute;
	width: calc(1277px * var(--sizing-factor));
	height: calc(374px * var(--sizing-factor));
	left: 25vw;
	top: 34vh;
	display: flex;
	justify-content: space-between;
}
.artwork{
	width: calc(width * var(--sizing-factor));
	max-width: calc(1000px * var(--sizing-factor));
	height: calc(height * var(--sizing-factor));
	max-height: calc(500px * var(--sizing-factor));

	margin-right: calc(15px * var(--sizing-factor));
	margin-bottom: calc(10px * var(--sizing-factor));

	border-radius: calc(20px * var(--sizing-factor));

	cursor: pointer;
	transition: 0.3s; 
}
.artwork:hover{
	opacity: 0.7;
}

.artwork-element-container{
	width: calc(1500px * var(--sizing-factor));
	height: calc(26px * var(--sizing-factor));
	margin-top: calc(50px * var(--sizing-factor));
	margin-bottom: calc(50px * var(--sizing-factor));
	display: flex;
	justify-content: center;
	align-content: center;
}
.artwork-element-container:first-child{
	margin-top: 0;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
  
/* Modal Content (Image) */
.modal-content {
	margin: auto;
	display: block;
	width: 80%;
}
  
/* Add Animation - Dissolve in the Modal */
.modal-content {
	animation-name: fade;
	animation-duration: 0.6s;
}

@keyframes fade {
	from {opacity: 0%}
	to {opacity: 100%}
}

/* The Close Button */
.close {
	position: absolute;
	top: calc(15px * var(--sizing-factor));
	right: calc(35px * var(--sizing-factor));
	color: var(--graphics-color);
	font-size: calc(40px * var(--sizing-factor));
	font-weight: bold;
	transition: 0.3s;
}

.close:hover, .close:focus {
	color: #961e16;
	text-decoration: none;
	cursor: pointer;
}

.separator-graphic{
	width: calc(width * var(--sizing-factor));
	height: calc(height * var(--sizing-factor));
	margin-top: calc(50px * var(--sizing-factor));
	margin-bottom: calc(50px * var(--sizing-factor));
	left: 50%;
}

/* projects */
.project-frame{
	width: calc(1277px * var(--sizing-factor));
	height: calc(425px * var(--sizing-factor));
	margin-bottom: calc(60px * var(--sizing-factor));

	display: flex;
	align-items: center;
	justify-content: center;

	padding-left: calc(20px * var(--sizing-factor));
	padding-right: calc(20px * var(--sizing-factor));
	background: var(--base-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 	calc(30px * var(--sizing-factor));
	transition: 0.3s;
}
.project-frame:hover{
	transform: translateY(calc(-5px * var(--sizing-factor)));
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.project-container{
	position: absolute;
	width: calc(1214px * var(--sizing-factor));
	height: calc(325px * var(--sizing-factor));
	transition: 0.3s;
}
.project-container:hover{
	transform: translateY(calc(-5px * var(--sizing-factor)));
}
.project-container:hover .project-desc{
	opacity: 100%;
}
.project-container:hover .project-button-container{
	opacity: 100%;
}

.project-title{
	position: absolute;
	width: calc(width * var(--sizing-factor));
	height: calc(68px * var(--sizing-factor));	
	right: 0%;
}

.project-desc{
	position: absolute;
	max-width: calc(843px * var(--sizing-factor));
	right: 0;
	top: calc(90px * var(--sizing-factor));

	font-family: 'TT Norms Pro';
	font-style: normal;
	font-size: calc(24px * var(--sizing-factor));
	line-height: calc(30px * var(--sizing-factor));
	letter-spacing: calc(0.03em * var(--sizing-factor));
	text-align: right;
	color: #FFFFFF;
	opacity: 0%;
	transition: 0.3s;
}
.project-button-container{
	position: absolute;
	width: calc(843px * var(--sizing-factor));
	height: calc(48px * var(--sizing-factor));

	right: 0;
	top: calc(195px * var(--sizing-factor));
	
	display: flex;
	justify-content: flex-end;
	opacity: 0%;
	transition: 0.3s;
}
.project-button{
	width: max-content;

	background: var(--base-color);
	border: calc(2px * var(--sizing-factor)) solid #FFFFFF;
	border-radius: calc(5px * var(--sizing-factor));
	padding: calc(10px * var(--sizing-factor)) calc(12px * var(--sizing-factor));
	text-align: center;
	font-family: 'Exensa Grotesk';
	font-style: normal;
	font-weight: calc(700 * var(--sizing-factor));
	font-size: calc(20px * var(--sizing-factor));
	letter-spacing: calc(0.05em * var(--sizing-factor));
	color: #FFFFFF;
	vertical-align: middle;
	margin-right: calc(20px * var(--sizing-factor));

	transition: 0.3s;
	cursor: pointer;
}
.project-button:hover{
	background: #FFFFFF;
	color: var(--base-color);
}
.project-button:last-child{
	margin-right: 0;
}
.project-thumbnail{
	position: absolute;
	width: calc(321px * var(--sizing-factor));
	height: calc(325px * var(--sizing-factor));
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.project-name{
	width: fit-content;
	margin-bottom: calc(60px * var(--sizing-factor));

	padding: calc(25px * var(--sizing-factor)) calc(35px * var(--sizing-factor));
	text-align: center;
	font-family: 'Exensa Grotesk';
	font-style: normal;
	font-weight: calc(700 * var(--sizing-factor));
	font-size: calc(40px * var(--sizing-factor));
	letter-spacing: calc(0.08em * var(--sizing-factor));
	color: #FFFFFF;
	vertical-align: middle;

	background: var(--base-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 	calc(20px * var(--sizing-factor));
}

.project-box{
	width: fit-content;
	max-width: calc(1200px * var(--sizing-factor));
	margin: 0 auto;
	margin-bottom: calc(60px * var(--sizing-factor));

	padding: calc(40px * var(--sizing-factor));
	background: var(--base-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 	calc(30px * var(--sizing-factor));
	
	font-family: 'TT Norms Pro';
	font-style: normal;
	font-weight: calc(400 * var(--sizing-factor));
	font-size: calc(20px * var(--sizing-factor));
	line-height: calc(24px * var(--sizing-factor));
	letter-spacing: calc(0.08em * var(--sizing-factor));

	color: #FFFFFF;
}

.skSite-slides, .skHome-slides, .skAbout-slides, .skService-slides, .skGraphics-slides {
	max-width: inherit;
	max-height: inherit;
	padding: 0;
	display: none;
	border-radius: calc(20px * var(--sizing-factor));
	object-fit: cover;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	vertical-align: top;
	overflow: hidden;
	cursor: pointer;
}

.footer{
	width: calc(1411px * var(--sizing-factor));
	height: calc(87px * var(--sizing-factor));
}